.page-active-earnest {

    .earnest-table {

        .form-ele {
            margin-top: 0px;
            margin-bottom: 0px;
        }

    }

    th .pretty {
        font-size: 1.1rem;
    }
    th .pretty .state label:after {
        border: 2px solid #ccc !important;
    }

}
