.page-employees {



}

#crop_image {
    width: 100%;
}
.cropper-container {
    max-width: 400px;
}
#photo_location {
    max-height: 120px;
}
.delete-image-div {
    position: absolute;
    top: -15px;
    right: -20px;
}

.employee-docs-div {

    .filepond--root {
        max-height: 5rem;
    }
    .filepond--root .filepond--drop-label {
        min-height: 2.75em;
    }

}

