.page-dashboard {

    .notifications-container {
        max-height: 40VH;
        overflow: auto;
    }

    .upcoming-closing-image {
        max-height: 40px;
        max-width: 70px;
    }

}

// modals

.alert-details-container {
    max-height: 60VH;
    overflow: auto;
}
.upcoming-closings-container {
    max-height: 300px;
    overflow: auto;
}
