.page-dashboard {

    .notifications-container, .alerts-container {
        max-height: 40VH;
        overflow: auto;
    }

    .upcoming-closing-image {
        max-height: 40px;
        max-width: 70px;
    }

    #upcoming_closings_mod, #commissions_mod, #upcoming_events_mod {
        max-height: 300px;
        overflow: auto;
    }

}

// modals

.alert-details-container {
    max-height: 60VH;
    overflow: auto;
}

