.page-user-profile {

    #crop_image {
        width: 100%;
    }
    .cropper-container {
        max-width: 400px;
    }
    #photo_location {
        max-height: 120px;
    }
    .delete-image-div {
        position: absolute;
        top: -15px;
        right: -20px;
    }

}
